{
  "openapi": "3.1.0",
  "info": {
    "title": "App Store Public Reads",
    "version": "v1",
    "summary": "Read-only, normalized public-data reads of App Store applications exposed through the ReplyNodes App Store public-read service: app lookup, developer catalog lookup, storefront chart listings, privacy label lookup, ratings summaries, paged reviews, bounded term search, related-app listings, and type-ahead suggestions.",
    "description": "Machine-readable specification for the supported public App Store read capabilities of the ReplyNodes App Store public-read service.\n\nSurface status:\n- The nine documented read operations have stable public contracts with bounded requests and normalized v1 responses.\n- Route paths in this catalog are stable capability identifiers used for agent tool bindings; public gateway exposure for this platform is issued to your workspace at onboarding and must not be assumed reachable anywhere else.\n- No availability, uptime, latency, or success-rate figure is claimed anywhere in this package; example payloads are illustrative fixtures, not captured responses.\n\nRead-only guarantees:\n- Every cataloged operation is an HTTP GET capability over public application data only.\n- No purchase, review-submission, account, login, or any other write or authenticated capability exists in this domain, now or later; it is excluded by policy rather than by configuration.\n- Only the documented operations are supported by this public package.\n- No request path carries or accepts credentials, keys, or login material of any kind; the read layer performs public reads server-side.\n- Only public platform data is returned; counters, scores, and prices are null when the source omits them - zeros are never fabricated - and unknown upstream fields are dropped.\n\nPublished from this public, sanitized skill-only provenance repository."
  },
  "servers": [
    {
      "url": "https://api.replynodes.com",
      "description": "The supported public gateway base URL is https://api.replynodes.com. Use this deployment base unless your workspace is explicitly issued another HTTPS gateway URL; never use localhost:18789."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "x402": []
    }
  ],
  "tags": [
    {
      "name": "appstore",
      "description": "Public App Store read operations."
    }
  ],
  "paths": {
    "/v1/appstore/app": {
      "get": {
        "operationId": "get_app",
        "summary": "Look up one public App Store application",
        "description": "Returns exactly one normalized public application record referenced by numeric track id or bundle id, per contract v1 (developer, rating, pricing, genres, languages, version, release data). An unknown or non-public id yields not_found.",
        "tags": [
          "appstore"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric track id (up to 19 digits) or reverse-DNS-style bundle id; provide id or appId.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": false,
            "description": "Alias for id; provide appId or id.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          }
        ]
      }
    },
    "/v1/appstore/search": {
      "get": {
        "operationId": "search_apps",
        "summary": "Search public App Store applications by term",
        "description": "Returns zero or more normalized public application records matching a free-text term, as one bounded page (default 20 results, clamped to at most 50). No continuation tokens exist on this surface.",
        "tags": [
          "appstore"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "description": "Free-text search query; required and never empty after trimming.",
            "schema": {
              "type": "string",
              "pattern": "^\\\\S(.*)?$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size bound; defaults to 20 and is clamped to at most 50 client-side.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Optional storefront hint, ISO 3166-1 alpha-2 lowercase (e.g. us).",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Optional language hint, ISO 639-1 lowercase optionally followed by -<region> (e.g. en or en-us).",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}(-[a-z]{2})?$"
            }
          }
        ]
      }
    },
    "/v1/appstore/similar": {
      "get": {
        "operationId": "get_similar_apps",
        "summary": "List public apps related to one App Store application",
        "description": "Returns zero or more normalized public application records related to the app referenced by numeric track id or bundle id, as one bounded page (default 20 results, clamped to at most 50). No continuation tokens exist on this surface.",
        "tags": [
          "appstore"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric track id (up to 19 digits) or reverse-DNS-style bundle id; provide id or appId.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": false,
            "description": "Alias for id; provide appId or id.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Optional storefront hint, ISO 3166-1 alpha-2 lowercase (e.g. us).",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Optional language hint, ISO 639-1 lowercase optionally followed by -<region> (e.g. en or en-us).",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}(-[a-z]{2})?$"
            }
          }
        ]
      }
    },
    "/v1/appstore/developer": {
      "get": {
        "operationId": "get_developer",
        "summary": "Look up one public App Store developer",
        "description": "Returns exactly one normalized public developer record referenced by numeric track id or bundle id, per contract v1 (company name, address, etc.). An unknown or non-public id yields not_found.",
        "tags": [
          "appstore"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric track id (up to 19 digits) or reverse-DNS-style bundle id; provide id or appId.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": false,
            "description": "Alias for id; provide appId or id.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          }
        ]
      }
    },
    "/v1/appstore/list": {
      "get": {
        "operationId": "list_apps",
        "summary": "List public App Store applications by storefront",
        "description": "Returns zero or more normalized public application records for a given storefront category and country, as one bounded page (default 20 results, clamped to at most 50). No continuation tokens exist on this surface.",
        "tags": [
          "appstore"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "description": "Storefront category (e.g. TOP_FREE, TOP_PAID, TOP_GROSSING).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO 3166-1 alpha-2 country code (e.g. us).",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          }
        ]
      }
    },
    "/v1/appstore/privacy": {
      "get": {
        "operationId": "get_privacy",
        "summary": "Look up one public App Store privacy label",
        "description": "Returns the normalized privacy label for one public App Store application referenced by numeric track id or bundle id.",
        "tags": [
          "appstore"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric track id (up to 19 digits) or reverse-DNS-style bundle id; provide id or appId.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": false,
            "description": "Alias for id; provide appId or id.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          }
        ]
      }
    },
    "/v1/appstore/ratings": {
      "get": {
        "operationId": "get_ratings",
        "summary": "Get ratings summary for one public App Store application",
        "description": "Returns the normalized ratings summary for one public App Store application referenced by numeric track id or bundle id.",
        "tags": [
          "appstore"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric track id (up to 19 digits) or reverse-DNS-style bundle id; provide id or appId.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": false,
            "description": "Alias for id; provide appId or id.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          }
        ]
      }
    },
    "/v1/appstore/reviews": {
      "get": {
        "operationId": "get_reviews",
        "summary": "Get paged reviews for one public App Store application",
        "description": "Returns zero or more normalized public review records for one public App Store application, as one bounded page (default 20 results, clamped to at most 50). No continuation tokens exist on this surface.",
        "tags": [
          "appstore"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric track id (up to 19 digits) or reverse-DNS-style bundle id; provide id or appId.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          },
          {
            "name": "appId",
            "in": "query",
            "required": false,
            "description": "Alias for id; provide appId or id.",
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{1,19}|[A-Za-z0-9][A-Za-z0-9-]*(?:\\\\.[A-Za-z0-9-]+)+)$",
              "minLength": 3,
              "maxLength": 200
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Optional storefront hint, ISO 3166-1 alpha-2 lowercase (e.g. us).",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          }
        ]
      }
    },
    "/v1/appstore/suggest": {
      "get": {
        "operationId": "suggest_terms",
        "summary": "Get type-ahead suggestions for public App Store applications",
        "description": "Returns zero or more normalized type-ahead suggestions for public App Store applications based on a partial term, as one bounded page (default 20 results, clamped to at most 50). No continuation tokens exist on this surface.",
        "tags": [
          "appstore"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "description": "Partial search query; required and never empty after trimming.",
            "schema": {
              "type": "string",
              "pattern": "^\\\\S(.*)?$"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Optional storefront hint, ISO 3166-1 alpha-2 lowercase (e.g. us).",
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "The gateway supports two honest access paths: a ReplyNodes workspace key in Authorization: Bearer <workspace-key>, or x402 v2 payment negotiation when the route returns HTTP 402. Scope/entitlement checks belong to the shared control plane; this package does not claim payment settlement or a successful paid request. ReplyNodes API keys are minted per workspace from the ReplyNodes console and are stored server-side only as SHA-256 hashes; treat them as sensitive material and never embed them in client-side code."
      },
      "x402": {
        "type": "http",
        "scheme": "x402",
        "description": "x402 v2 payment negotiation in USDC on Base"
      }
    },
    "schemas": {
      "App": {
        "type": "object",
        "description": "Normalized public App Store application record (contract v1). Optional values stay null when the public source omitted them; zeros are never fabricated; unknown upstream fields are dropped at parse time.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Platform-prefixed URN ios:app:<numeric track id>."
          },
          "platform": {
            "type": "string",
            "const": "ios"
          },
          "bundle_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Reverse-DNS bundle id, or null when omitted."
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Public store page URL, or null when omitted."
          },
          "icon_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "release_notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "developer": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "ios:developer:<id> URN when known."
              }
            }
          },
          "primary_genre": {
            "type": [
              "string",
              "null"
            ]
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "content_rating": {
            "type": [
              "string",
              "null"
            ]
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "version": {
            "type": [
              "string",
              "null"
            ]
          },
          "size_bytes": {
            "type": [
              "integer",
              "null"
            ]
          },
          "min_os_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "released_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "RFC3339 UTC, or null when omitted."
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "RFC3339 UTC, or null when omitted."
          },
          "rating": {
            "type": "object",
            "properties": {
              "score": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "0..5 average, or null when omitted."
              },
              "ratings_count": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "reviews_count": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            }
          },
          "pricing": {
            "type": "object",
            "properties": {
              "price": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "currency": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "free": {
                "type": [
                  "boolean",
                  "null"
                ]
              }
            }
          },
          "screenshot_urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Developer": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "type": [
              "string",
              "null"
            ],
            "description": "ios:developer:<id> URN when known."
          }
        }
      },
      "Rating": {
        "type": "object",
        "properties": {
          "score": {
            "type": [
              "number",
              "null"
            ],
            "description": "0..5 average, or null when omitted."
          },
          "ratings_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "reviews_count": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "Pricing": {
        "type": "object",
        "properties": {
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "currency": {
            "type": [
              "string",
              "null"
            ]
          },
          "free": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "description": "Provenance metadata echoed with every response. request_id echoes the caller-supplied opaque correlation id; missing_fields appears only when availability is partial, using dotted *. paths that apply to every element of data.",
        "additionalProperties": false,
        "required": [
          "request_id",
          "contract_version",
          "generated_at",
          "availability"
        ],
        "properties": {
          "request_id": {
            "type": "string"
          },
          "contract_version": {
            "type": "string",
            "const": "v1"
          },
          "generated_at": {
            "type": "string",
            "description": "Server-side RFC3339 UTC timestamp."
          },
          "availability": {
            "type": "string",
            "enum": [
              "complete",
              "partial",
              "degraded"
            ]
          },
          "detail": {
            "type": "string",
            "description": "Fixed generic note; never provider diagnostics."
          },
          "missing_fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AppResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/App"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "description": "Body of every non-2xx response on this surface; retry hints travel in the Retry-After header.",
        "additionalProperties": false,
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "code",
              "message",
              "request_id"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "degraded",
                  "invalid_request",
                  "not_found",
                  "rate_limited",
                  "upstream_unavailable"
                ]
              },
              "message": {
                "type": "string",
                "description": "Fixed generic message."
              },
              "request_id": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}